<nav>
  <ul class="wrapper-margin">
    <div class="nav-options">
      <li>
        <a href=""><img src="assets/img/logo.png" alt="logo" class="logo" /></a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="openConvocatoria()"
          >Convocatoria</a
        >
      </li>
      <li>
        <a href="javascript:void(0);" (click)="closeConvocatoria()">Partido</a>
      </li>
    </div>
    <div class="nav-login">
      <li><a href="">Login</a></li>
    </div>
  </ul>
</nav>
