nav {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 10px 0;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 10px;

  li {
    font-size: 1.1rem;
    a {
      text-decoration: none;
      color: #eeeeee;
    }
  }
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-login {
  a {
    color: #00adb5 !important;
  }
}

.logo {
  width: 30px;
}
