.convocados-list-container {
  margin: auto;
  color: #eeeeee;
}

ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 100px;
  padding-left: 25px;
  column-gap: 25px;
}
ul li {
  flex: 0 0 25%;
}

li::marker {
  content: attr(data-number) ". ";
}
