.convocados-list-container {
  margin: auto;
  color: #eeeeee;
}

ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 100px;
  list-style-type: decimal;
  padding-left: 20px;
}
ul li {
  flex: 0 0 25%;
}
