.convocados-list-container {
  margin: auto;
  width: 75%;

  @media (max-width: 600px) {
    width: 90%;
  }
}

ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 100px;
  list-style-type: decimal;
  padding-left: 20px;
}
ul li {
  flex: 1 0 25%;
}
