<div class="convocatoria-button-container">
  <app-open-close-convocatoria-button
    [buttonText]="
      convocatoriaOpen
        ? 'Cerrar convocatoria'
        : 'Editar
    convocatoria'
    "
    (toggleConvocatoriaEvent)="toggleConvocatoria()"
  >
  </app-open-close-convocatoria-button>
</div>
<app-make-convocatoria *ngIf="convocatoriaOpen"></app-make-convocatoria>
<app-convocados-list *ngIf="!convocatoriaOpen"></app-convocados-list>

<app-cuartos *ngIf="!convocatoriaOpen"></app-cuartos>
