/* CSS */
.button {
  // background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #393e46;
  background-color: #00adb5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 3px 12px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: 0.3;
}

.button:hover {
  // background-image: linear-gradient(#51a9ee, #147bcd);
  background-color: #00acb5bb;
  border-color: #393e46;
  text-decoration: none;
}

// .button:active {
//   background-image: linear-gradient(#3d94d9, #0067b9);
//   border-color: #006dbc;
//   outline: none;
// }

.button:focus {
  // box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 1px;
  outline: none;
}
