@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background: #222831; /* fallback for old browsers */
  margin: auto;
}

.wrapper-margin {
  margin: 0 auto;
  width: 65%;
  @media (max-width: 600px) {
    width: 90%;
  }
}
