/* You can add global styles to this file, and also import other style files */

body {
  background: #222831; /* fallback for old browsers */
  width: 65%;
  margin: auto;

  @media (max-width: 600px) {
    width: 90%;
  }
}
